<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Memes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Galería de Memes</h1>
    <div class="gallery">
        {% for meme in memes %}
            <div class="meme-card">
                <a href="{{ meme.link }}" target="_blank">
                    <img src="{{ url_for('static', filename=meme.src) }}" alt="{{ meme.alt }}">
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>